body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-transform: uppercase;    
}
h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-transform: uppercase;    
}
h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-transform: uppercase;        
}
#navigation {
    display: flex;
    width: 100%;
    margin: 0px auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #072448;
    height: 80px;
    border-bottom: 2px solid #54D2D2;
}
#navMenu {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-right: 70px;
}
#navMenu p {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    color: #579AEF;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: 16px;
}
#navigation img {
    display: flex;
    align-items: flex-start;
    width: 183px;
    height: 48px;
    margin-left: 70px;
}
.heroImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}
.content {
    margin: 0px 70px;
    display: flex;
    width: 100%;
}
.aboutMePhoto {
    display: flex;
    align-items: center;
    z-index: 6;
}
.aboutMePhoto img {
    width: 100%;
}
.aboutCard {
    width: 100%;
    background: #ECF3FB;
    border-radius: 10px;
    padding: 48px 18px 48px 85px;
    margin-left: -85px;
}
.aboutCard h2 {
    color: #072448;
    margin: 0;
}
.aboutCard p {
    margin: 24px auto;
    color: #072448;
}
button {
    width: 222px;
    height: 48px;
    background: #54D2D2;
    box-shadow: 0px 6px 14px rgba(7, 36, 72, 0.3);
    border-radius: 10px;
    border: 1px solid #54D2D2;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #072448;
}
footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #072448;
    height: 80px;
    border-top: 2px solid #54D2D2;
}
#footerMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 70px;
}
#footerMenu p {
    color: #579AEF;
    padding-right: 16px;
}
.mySkills {
    margin: 24px 5%;
    color: #0C4080
}
.myWork {
    background-color: #F7F9F9;
    margin: 24px auto;
    color: #0C4080
}
.flexContainer {
    display: flex;
    flex-direction: row;
    margin: 24px;
}
.flexContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    background-color: #ECF3FB;
    border-radius: 10px;
    margin: 24px;
    color: #0C4080;
}
.flexContainer div img {
    margin: 24px;
    width: fit-content;
}
.flexContainer div p {
    display: flex;
    align-content: flex-start;
    padding: 16px;
}
.workGrid {
    margin: 24px 5%;
    color: #0C4080;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "proj1Image proj1"
    "proj2Image proj2"
    "proj3Image proj3";
}
.workGrid div {
    margin: 16px;
}
.proj1Image {
    grid-area: proj1Image;
}
.proj1 {
    grid-area: proj1;
    background-color: #ECF3FB;
    border-radius: 10px;
    text-align: left;
    padding: 16px;
}
.proj2Image {
    grid-area: proj2Image;
}
.proj2 {
    grid-area: proj2;
    background: #ECF3FB;
    border-radius: 10px;
    text-align: left;
    padding: 16px;
}
.proj3Image {
    grid-area: proj3Image;
}
.proj3 {
    grid-area: proj3;
    background: #ECF3FB;
    border-radius: 10px;
    text-align: left;
    padding: 16px;
}
.myWork h5 {
    text-align: center;
    margin-top: 24px auto;
}
.myWork h1 {
    margin: 48px 5%;
}
@media only screen and (max-width: 600px) {
.workGrid {
    display: grid;
    margin: 24px 5%;
    width: fit-content;
    align-content: center;
    justify-content: center;
    grid-template-rows: 300px 1fr 300px 1fr 300px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "proj1Image"
    "proj1"
    "proj2Image"
    "proj2"
    "proj3Image"
    "proj3"
    ;
}
.proj1Image {
    display: grid;
    justify-content: center;
    align-content: center;
}
.proj2Image {
    display: grid;
    justify-content: center;
    align-content: center;
}
.proj3Image {
    display: grid;
    justify-content: center;
    align-content: center;
}
.mySkills {
    width: 100%;
    flex-direction: column;
    margin: 24px 5%;
}
.flexContainer {
    flex-direction: column;
    width: 100%;
    margin: 24px 5%;
}
.flexContainer div {
    width: 50%;
    flex-direction: column;
    margin: 24px 5%;
}
.heroImg {
    display: flex;
    margin: 24px 5%;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 24px 5%;
}
.aboutMePhoto {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
}
.aboutCard {
    display: flex;
    flex-direction: column;
    width: 85%;
    background: #ECF3FB;
    border-radius: 10px;
    padding: 16px 8px 8px 8px;
    margin: -8px 5% 0px 5%;
}
#navigation {
    flex-direction: column;
    margin: 0px;
    height: fit-content;
}
#navMenu {
    margin: 16px auto;
}
}